<a class="navbar-brand" href="#">TREK BIKES</a>
<button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navLinks" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>