<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./head'); %>
    <title>All Items</title>
</head>

<body>
    <h1 class="text-center">All Items are going to be here</h1><br>
    <ul>
        <% for(let item of items) { %>
        <li><a href="/items/<%=item._id%>"><%= item.name %></a></li>
        <% }%>
    </ul>

    <footer>
        <%- include('./footer'); %>
    </footer>

</body>

</html>