<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./head'); %>
    <title>New Bike</title>
</head>
<body>
    <h1>Add New Bike Model</h1>
    <form action="/items" method="POST">
        <label for="name">Bike Model</label>
        <input type="text" name="name" id="name" placeholder="e.g. FX 3">
        <label for="price">Bike Price</label>
        <input type="number" name="price" id="price" placeholder="e.g. 987.88">
        <label for="category">Bike Category</label>
        <select name="category" id="category">
            <option value="mountain">mountain</option>
            <option value="hybrid">hybrid</option>
            <option value="road">road</option>
        </select>
        <button>Submit</button>
    </form>

    <footer>
        <%- include('./footer'); %>
    </footer>

</body>
</html>